global
      log /dev/log local5 debug
      chroot /var/lib/haproxy
      stats socket /run/haproxy/admin.sock mode 660 level admin
      stats timeout 30s
      user haproxy
      group haproxy
      daemon

defaults
      log global
      mode http
      option httplog
      option dontlognull
      timeout connect 5000
      timeout client 50000
      timeout server 50000
      errorfile 400 /etc/haproxy/errors/400.http

frontend myapp_front
      bind *:80
      mode http

      acl myapp_front1 hdr_dom(host) -i loadbalancer1.fr
      use_backend load1 if myapp_front1

      acl myapp_front2 hdr_dom(host) -i loadbalancer2.fr
      use_backend load2 if myapp_front2

backend load1
      server serv_python1 172.17.0.3:5000

backend load2
      server serv_python3 172.17.0.4:5000
      server serv_python4 172.17.0.5:5000

