global
      log /dev/log local5 debug
      chroot /var/lib/haproxy
      stats socket /run/haproxy/admin.sock mode 660 level admin
      stats timeout 30s
      user haproxy
      group haproxy
      daemon

defaults
      log global
      mode http
      option httplog
      option dontlognull
      timeout connect 5000
      timeout client 50000
      timeout server 50000
      errorfile 400 /etc/haproxy/errors/400.http


frontend myapp_front
    bind *:80
    mode http

    acl is_static_file url_reg .*\.(css|js)
    acl mobile_iphone hdr_sub(User-Agent) -i iphone
    use_backend load1 if is_static_file
    use_backend load1 if mobile_iphone

    default_backend load2 

backend load1
    server serv_mobile 172.17.0.3:5000

backend load2
    server serv_other 172.17.0.4:5000


